@keyframes ldio-wabl42atcm9 {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-wabl42atcm9 div { box-sizing: border-box!important }
.ldio-wabl42atcm9 > div {
  position: absolute;
  width: 69px;
  height: 69px;
  top: 15.5px;
  left: 15.5px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #00bc8c transparent #00bc8c transparent;
  animation: ldio-wabl42atcm9 1.8518518518518516s linear infinite;
}

.ldio-wabl42atcm9 > div:nth-child(2), .ldio-wabl42atcm9 > div:nth-child(4) {
  width: 57px;
  height: 57px;
  top: 21.5px;
  left: 21.5px;
  animation: ldio-wabl42atcm9 1.8518518518518516s linear infinite reverse;
}
.ldio-wabl42atcm9 > div:nth-child(2) {
  border-color: transparent #747371 transparent #747371
}
.ldio-wabl42atcm9 > div:nth-child(3) { border-color: transparent }
.ldio-wabl42atcm9 > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-wabl42atcm9 > div:nth-child(3) div:before, .ldio-wabl42atcm9 > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 27px;
  background: #00bc8c;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #00bc8c;
}
.ldio-wabl42atcm9 > div:nth-child(3) div:after {
  left: -5px;
  top: 27px;
  box-shadow: 64px 0 0 0 #00bc8c;
}

.ldio-wabl42atcm9 > div:nth-child(4) { border-color: transparent; }
.ldio-wabl42atcm9 > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-wabl42atcm9 > div:nth-child(4) div:before, .ldio-wabl42atcm9 > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 21px;
  background: #747371;
  border-radius: 50%;
  box-shadow: 0 52px 0 0 #747371;
}
.ldio-wabl42atcm9 > div:nth-child(4) div:after {
  left: -5px;
  top: 21px;
  box-shadow: 52px 0 0 0 #747371;
}
.loadingio-spinner-double-ring-hg2hs3e1nwq {
  width: 91px;
  height: 91px;
  display: inline-block;
  overflow: hidden;
  background: #303030;
  margin-left: 800px;
}
.ldio-wabl42atcm9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.91);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-wabl42atcm9 div { box-sizing: content-box; }
